<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zygh.lz.mapper.DutyMapper" >
  <!--<cache type="com.zygh.lz.cache.MybatisRedisCache"/>-->
  <resultMap id="BaseResultMap" type="com.zygh.lz.admin.Duty" >
    <id column="sys_duty_id" property="sysDutyId" jdbcType="INTEGER" />
    <result column="suty_road" property="sutyRoad" jdbcType="VARCHAR" />
    <result column="sys_section_id" property="sysSectionId" jdbcType="INTEGER" />
    <result column="sys_road_id" property="sysRoadId" jdbcType="INTEGER" />
    <result column="fenguanstaff_id" property="fenguanstaffId" jdbcType="INTEGER" />
    <result column="totalstaff_id" property="totalstaffId" jdbcType="INTEGER" />
    <result column="onestaff_id" property="onestaffId" jdbcType="INTEGER" />
    <result column="twostaff_id" property="twostaffId" jdbcType="INTEGER" />
    <result column="section_name" property="sectionName" jdbcType="VARCHAR" />
    <result column="road_name" property="roadName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sys_duty_id, suty_road, sys_section_id, sys_road_id, fenguanstaff_id, totalstaff_id, 
    onestaff_id, twostaff_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from duty
    where sys_duty_id = #{sysDutyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from duty
    where sys_duty_id = #{sysDutyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zygh.lz.admin.Duty" >
    insert into duty (sys_duty_id, suty_road, sys_section_id, 
      sys_road_id, fenguanstaff_id, totalstaff_id, 
      onestaff_id, twostaff_id)
    values (#{sysDutyId,jdbcType=INTEGER}, #{sutyRoad,jdbcType=VARCHAR}, #{sysSectionId,jdbcType=INTEGER}, 
      #{sysRoadId,jdbcType=INTEGER}, #{fenguanstaffId,jdbcType=INTEGER}, #{totalstaffId,jdbcType=INTEGER}, 
      #{onestaffId,jdbcType=INTEGER}, #{twostaffId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zygh.lz.admin.Duty" >
    insert into duty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysDutyId != null" >
        sys_duty_id,
      </if>
      <if test="sutyRoad != null" >
        suty_road,
      </if>
      <if test="sysSectionId != null" >
        sys_section_id,
      </if>
      <if test="sysRoadId != null" >
        sys_road_id,
      </if>
      <if test="fenguanstaffId != null" >
        fenguanstaff_id,
      </if>
      <if test="totalstaffId != null" >
        totalstaff_id,
      </if>
      <if test="onestaffId != null" >
        onestaff_id,
      </if>
      <if test="twostaffId != null" >
        twostaff_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysDutyId != null" >
        #{sysDutyId,jdbcType=INTEGER},
      </if>
      <if test="sutyRoad != null" >
        #{sutyRoad,jdbcType=VARCHAR},
      </if>
      <if test="sysSectionId != null" >
        #{sysSectionId,jdbcType=INTEGER},
      </if>
      <if test="sysRoadId != null" >
        #{sysRoadId,jdbcType=INTEGER},
      </if>
      <if test="fenguanstaffId != null" >
        #{fenguanstaffId,jdbcType=INTEGER},
      </if>
      <if test="totalstaffId != null" >
        #{totalstaffId,jdbcType=INTEGER},
      </if>
      <if test="onestaffId != null" >
        #{onestaffId,jdbcType=INTEGER},
      </if>
      <if test="twostaffId != null" >
        #{twostaffId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zygh.lz.admin.Duty" >
    update duty
    <set >
      <if test="sutyRoad != null" >
        suty_road = #{sutyRoad,jdbcType=VARCHAR},
      </if>
      <if test="sysSectionId != null" >
        sys_section_id = #{sysSectionId,jdbcType=INTEGER},
      </if>
      <if test="sysRoadId != null" >
        sys_road_id = #{sysRoadId,jdbcType=INTEGER},
      </if>
      <if test="fenguanstaffId != null" >
        fenguanstaff_id = #{fenguanstaffId,jdbcType=INTEGER},
      </if>
      <if test="totalstaffId != null" >
        totalstaff_id = #{totalstaffId,jdbcType=INTEGER},
      </if>
      <if test="onestaffId != null" >
        onestaff_id = #{onestaffId,jdbcType=INTEGER},
      </if>
      <if test="twostaffId != null" >
        twostaff_id = #{twostaffId,jdbcType=INTEGER},
      </if>
    </set>
    where sys_duty_id = #{sysDutyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zygh.lz.admin.Duty" >
    update duty
    set suty_road = #{sutyRoad,jdbcType=VARCHAR},
      sys_section_id = #{sysSectionId,jdbcType=INTEGER},
      sys_road_id = #{sysRoadId,jdbcType=INTEGER},
      fenguanstaff_id = #{fenguanstaffId,jdbcType=INTEGER},
      totalstaff_id = #{totalstaffId,jdbcType=INTEGER},
      onestaff_id = #{onestaffId,jdbcType=INTEGER},
      twostaff_id = #{twostaffId,jdbcType=INTEGER}
    where sys_duty_id = #{sysDutyId,jdbcType=INTEGER}
  </update>
  <!--联表查询所有道路责任明细-->
  <select id="selectAllDuty" resultMap="BaseResultMap" >
    SELECT *,s.section_name,r.road_name
    FROM duty d,section s, road r
    WHERE d.sys_section_id=s.sys_section_id AND d.sys_road_id = r.sys_road_id
  </select>
  <!--模糊查询-->

  <select id="seleteDimDuty" resultMap="BaseResultMap">
    SELECT *
    FROM duty d,section s, road r
    <where>
      d.sys_section_id=s.sys_section_id AND d.sys_road_id = r.sys_road_id
      <if test="sutyRoad != null and sutyRoad != ''">
        and concat(suty_road,section_name,road_name) like concat(concat('%',#{sutyRoad}),'%')
      </if>
      <if test="sectionName != null and sectionName != ''">
        and section_name like concat(concat('%',#{sectionName}),'%')
      </if>
    </where>
  </select>
</mapper>