<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zygh.lz.mapper.ProblemtypeMapper" >
  <!--<cache type="com.zygh.lz.cache.MybatisRedisCache"/>-->
  <resultMap id="BaseResultMap" type="com.zygh.lz.admin.Problemtype" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="types" property="types" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, types, department
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from problemtype
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from problemtype
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zygh.lz.admin.Problemtype" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into problemtype (types, department)
    values (#{types,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zygh.lz.admin.Problemtype" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into problemtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="types != null" >
        types,
      </if>
      <if test="department != null" >
        department,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="types != null" >
        #{types,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zygh.lz.admin.Problemtype" >
    update problemtype
    <set >
      <if test="types != null" >
        types = #{types,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zygh.lz.admin.Problemtype" >
    update problemtype
    set types = #{types,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectStaffNameByType" resultMap="BaseResultMap">
    SELECT * FROM problemtype WHERE types=#{type}
  </select>

  <select id="selectAllByProblemtype" resultMap="BaseResultMap">
    SELECT * FROM problemtype
  </select>
</mapper>